:root {
  --primary-header-color:#ffffff;
  --secondary-header-color:#212121;
  --main-text-color:#757575;
  --accent-color: #2196F3;
  --logo-color-part: #000000;
  --background-color:#ffffff;
  --footer-background: #2F303A;
  --background-second:#F5F4FA;
  --hover-color:#188CE8;
  --border-color:#EEEEEE;
  --item-set-gap:30px;
  --porfolio-button-shadow:0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.1);
  --developers-cards-shadow:0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12);
  --background-clients:#F5f5f5;
  --icon-color:#AFB1B8;
  --main-font: "Roboto", Sans-serif;
  --portfolio-cardshadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-header-color);
  background-color: var(--background-color);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-header-color);
}

.name2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.subtitle {
  color: var(--secondary-header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin: 0px auto 50px;
  text-align: center;
}

.conteiner {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus, .button-active {
  background-color: var(--hover-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  color: var(--secondary-header-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.wrapper-header {
  display: flex;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  display: block;
}

.logo__header {
  margin-right: 93px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navigation-list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-header-color);
  display: flex;
}

.navigation-list__item {
  position: relative;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  display: block;
  color: var(--secondary-header-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  background-position: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list__link:hover, .navigation-list__link:focus, .navigation-list__link:active {
  color: var(--accent-color);
}

.link-active {
  color: var(--accent-color);
}
.link-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.connection-list__item {
  display: flex;
  justify-content: center;
}

.connection {
  display: flex;
}

.connection-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.connection-list__item:not(:last-child) {
  margin-right: 50px;
}

.connection-list__email {
  fill: var(--main-text-color);
  margin-right: 10px;
  width: 16px;
  height: 12px;
}
.connection-list__link:hover .connection-list__email {
  fill: var(--accent-color);
}

.connection-list__mobile {
  fill: var(--main-text-color);
  margin-right: 10px;
  width: 10px;
  height: 16px;
}
.connection-list__link:hover .connection-list__mobile {
  fill: var(--accent-color);
}

.connection-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  color: var(--main-text-color);
}
.connection-list__link:hover, .connection-list__link:focus {
  color: var(--accent-color);
}

.logo__header--dark-color {
  color: var(--logo-color-part);
}

.logo__footer--light-color {
  color: var(--background-color);
}

.hero {
  text-align: center;
  padding: 200px 0px 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #C4C4C4;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.idia {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-header-color);
  margin-bottom: 40px;
}

.hero__btn-main {
  color: var(--background-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  margin: 0 auto;
  background-color: var(--accent-color);
  padding: 10px 32px;
}

.portfolio {
  background: var(--primary-header-color);
  padding: 94px 0px;
}

.priorities-list {
  display: flex;
}

.priorities-list__item:not(:last-child) {
  margin-right: 30px;
}

.priorities-list__item:last-child {
  margin-right: auto;
}

.priorities-list__pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-header-color);
  margin-bottom: 10px;
}

.priorities-list__box {
  display: block;
  margin-bottom: 30px;
  background-color: var(--background-second);
  height: 120px;
  padding-top: 25px;
  padding-left: 102px;
  padding-right: 102px;
  padding-bottom: 25px;
  border-radius: 4px;
}

.priorities-list__txt {
  line-height: 1.7;
  color: var(--main-text-color);
  max-width: 270px;
}

.about {
  background: var(--primary-header-color);
  padding: 0px 0px 94px;
}

.decisions-list {
  display: flex;
}
.decisions-list li:not(:last-child) {
  margin-right: 30px;
}

.decisions-list__thumb {
  position: relative;
}

.subtitle {
  color: var(--secondary-header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin: 0px auto 50px;
  text-align: center;
}

.decisions-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: var(--primary-header-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  display: inline-block;
  text-align: center;
}

.developers {
  background-color: var(--background-second);
  padding: 94px 0px;
}

.subtitle {
  margin-bottom: 50px;
}

.card-list {
  display: flex;
}

.card-list li img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-list__item {
  box-shadow: var(--developers-cards-shadow);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-header-color);
}
.card-list__item:not(:last-child) {
  margin-right: 30px;
}

.card-list__body {
  padding: 30px 0;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__items {
  width: 44px;
  height: 44px;
}
.social-list__items:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: var(--icon-color);
}
.social-list__link:hover .social-list__icon {
  fill: var(--background-color);
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover {
  background-color: var(--accent-color);
}

.card-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-header-color);
  margin-bottom: 10px;
}

.card-list__copy {
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.clients {
  padding: 94px 0;
}

.labels-list {
  display: flex;
  align-items: center;
}
.labels-list .labels-list__item:not(:last-child) {
  margin-right: 30px;
}

.labels-list__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  border: 1px solid var(--icon-color);
  justify-content: center;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.labels-list__link:hover {
  border-color: var(--accent-color);
}
.labels-list__link:hover, .labels-list__link:focus {
  color: var(--accent-color);
}

.labels-list__icons {
  fill: var(--icon-color);
}
.labels-list__link:hover .labels-list__icons {
  fill: var(--accent-color);
}

.footer {
  background: var(--footer-background);
  padding: 60px 0px;
}

.logo-wrap {
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
}

.address-wrap {
  margin-right: 70px;
}

.footer-address-list__list {
  font-style: normal;
}

address ul li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-list__map {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-list__map:hover, .footer-address-list__map:focus {
  color: var(--accent-color);
}

.footer-address-list__email {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-list__email:hover, .footer-address-list__email:focus {
  color: var(--accent-color);
}

.footer-address-list__tel {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-list__tel:hover, .footer-address-list__tel:focus {
  color: var(--accent-color);
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
}

.footer-socials-wrap {
  margin-right: auto;
  display: block;
}

.footer-soc-list__list {
  display: flex;
}

.footer-soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.box-footer-soc {
  width: -270px;
  display: block;
}

.footer-socials-wrap__text,
.footer-join__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  color: var(--primary-header-color);
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  align-items: center;
}

.footer-soc-list__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--background-color);
  align-items: center;
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-soc-list__link:hover, .footer-soc-list__link:focus {
  background-color: var(--accent-color);
}

.footer-soc-list__icon {
  fill: var(--background-color);
}

.input-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-input-group__input {
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.42;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 0 15px 16px;
  background-color: transparent;
  display: block;
  margin-right: 12px;
}
.footer-input-group__input:focus, .footer-input-group__input:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-join {
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  color: var(--background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botton-join__icon {
  fill: var(--primary-header-color);
  margin-left: 10px;
}

.portfolio {
  padding: 94px 0px;
}

.portfolio-list-2 {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  background-color: var(--background-second);
  margin-right: 8px;
  letter-spacing: 0.03em;
  margin: 0px;
}

.button-hover:hover {
  box-shadow: var(--porfolio-button-shadow);
}

.card-hover {
  display: block;
}

.card-hover:hover,
.card-hover:focus {
  box-shadow: var(--portfolio-cardshadow);
}

.portfolio-button-1 {
  padding: 6px 25px;
}

.buttons {
  display: flex;
  margin-bottom: 50px;
}

.buttons li:not(:last-child) {
  margin-right: 8px;
}

.conteiner-description-2 {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.resume-list {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.resume-thumb {
  position: relative;
  overflow: hidden;
}

.resume-cover-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.resume-item:hover .resume-cover-text {
  transform: translateY(0);
}

.resume-item:focus .resume-cover-text {
  transform: translateY(0);
}

.conteiner > .resume-list > .resume-item {
  flex-basis: calc(33.3333333333% - 60px);
  margin-top: 30px;
  margin-left: 30px;
}

.conteiner > .resume-list > .resume-item:nth-child(-n+3) {
  margin-top: auto;
}

.conteiner > .resume-list > .resume-item:nth-child(3n+4) {
  margin-left: auto;
}

.conteiner > .resume-list > .resume-item:nth-child(0n+1) {
  margin-left: auto;
}

.name2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  width: 528px;
  min-height: 581px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 350ms ease-in-out;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  cursor: pointer;
}
.button-close:hover, .button-close:focus {
  color: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button-close__icon {
  fill: currentColor;
}

.modal-wrap {
  color: var(--main-text-color);
}

.modal-wrap__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-header-color);
  margin-bottom: 12px;
}

.modal-input-group__label,
.modal-textarea-group__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
}

.modal-input-group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-input-group__input {
  width: 100%;
  height: 40px;
  padding-left: 36px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  line-height: 1.16;
  outline: none;
}
.modal-input-group__input:focus, .modal-input-group__input:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-group__input:focus + svg,
.modal-input-group__input:hover + svg {
  fill: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-group__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(2px);
}

.modal-textarea-group {
  margin-bottom: 20px;
}

.modal-textarea-group__text {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal-textarea-group__text:focus, .modal-textarea-group__text:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  margin-bottom: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.checkbox__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  align-items: center;
}

.checkbox__body {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--background-color);
  border: 2px solid var(--secondary-header-color);
  border-radius: 4px;
  margin-right: 8px;
}
.checkbox__body:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(/images/icon-check.svg);
  background-size: contain;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 4px;
}

.modal-button__submit {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px 52px;
  color: var(--background-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  margin: 0 auto;
  background-color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */