

.about {
    background: var(--primary-header-color);
    padding: 0px 0px 94px;
   
}

.decisions-list {
    display: flex;
    & li:not(:last-child)  {
        margin-right: 30px;
    }
} 

.decisions-list__thumb {
    position: relative;
}

.subtitle  {
    color: var(--secondary-header-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin: 0px auto 50px;
    text-align: center;
}

.decisions-list__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: var(--primary-header-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 0;

    display: inline-block;
    text-align: center;
   
}







