.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 300ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    width: 528px;
    min-height: 581px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 350ms ease-in-out;
    padding: 40px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & {
        cursor: pointer;
        }
    &:hover, &:focus {
            color: var(--accent-color);
    } 
} 

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.button-close__icon {
    fill: currentColor;
}


.modal-wrap {
    color:var(--main-text-color);
}

.modal-wrap__text  {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--secondary-header-color);
    margin-bottom: 12px;
}

.modal-input-group__label,
.modal-textarea-group__label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 4px;
}

.modal-input-group {
    position:relative;
    display: block;
    margin-bottom: 10px;
}
.modal-input-group__input {
    width: 100%;
    height: 40px;
    padding-left: 36px; 
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: rgba(117, 117, 117, 0.5); 
    letter-spacing: 0.01em;
    line-height: 1.16;
    outline: none;
    

    &:focus,
    &:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  
}

.modal-input-group__input:focus + svg,
.modal-input-group__input:hover + svg  {
    fill: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-group__icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    transform: translateY(2px);
}

.modal-textarea-group {
    margin-bottom: 20px;
}


.modal-textarea-group__text {
    height: 120px;
    width: 100%;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus,
    &:hover  {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  
}

.checkbox {
    margin-bottom: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.checkbox__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    display: flex;
    align-items: center;
}

.checkbox__body {
   appearance: none;

}

.checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--background-color);

    border: 2px solid var(--secondary-header-color);
    border-radius: 4px;

    margin-right: 8px;
    .checkbox__body:checked + &  {
        border-color: var(--accent-color);
        background-color: var(--accent-color);
        background-image: url(/images/icon-check.svg);
        background-size:contain;
    }
}

.checkbox__link  {
   color: var(--accent-color);
   text-decoration: underline;
   margin-left: 4px;
}


.modal-button__submit  {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 10px 52px;
    color: var(--background-color);
    font-family: inherit;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    margin: 0 auto;
    background-color:var(--accent-color);
}

