.portfolio {
    background: var(--primary-header-color);
    padding: 94px 0px;
}


.priorities-list  {
    display: flex;
    
}
.priorities-list__item:not(:last-child) {
    margin-right: 30px;
}

.priorities-list__item:last-child  {
    margin-right: auto;
}

.priorities-list__pre-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-header-color);
    margin-bottom: 10px;
}

.priorities-list__box {
    display: block;
    margin-bottom: 30px;
    background-color: var(--background-second);
    height: 120px;
    padding-top: 25px;
    padding-left: 102px;
    padding-right: 102px;
    padding-bottom: 25px;
    border-radius: 4px;
}

.priorities-list__txt {
    line-height: 1.7;
    color: var(--main-text-color);
    max-width: 270px;
}




